meta(charset="UTF-8")
meta(http-equiv="cache-control" content="public")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
meta(name="language" content="English")
meta(meta name="theme-color" content="#ffcc03")
meta(name="title" content="Luxestate Template")
meta(name="copyright" content="Philopater Hany")
meta(name="author" content="Philopater Hany")
meta(name="description" content="Luxestate Template")
meta(name="robots" content="index, follow")
meta(name="keywords" content="html, css, javascript, gulp, pug, sass, npm, node, design")
title Luxestate Template
link(rel="shortcut icon" type="image/x-icon" href="images/favicon.png")
link(rel="stylesheet" type="text/css" href="css/libs/all.min.css")
link(rel="stylesheet" type="text/css" href="css/libs/animate.min.css")
link(rel="stylesheet" type="text/css" href="css/libs/normalize.css")
link(rel="stylesheet" type="text/css" href="css/main.css")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Qwitcher+Grypen:wght@400;700&display=swap")
