@use "./helpers/variables" as *;
@use "./helpers/mixins" as *;

.agents {
    background-color: $main-background;
    .container {
        .agents-holder {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            .agent {
                background-color: #fff;
                @include bRad(10px);
                &:last-child {
                    @media (min-width: 1200px) {
                        grid-column-end: -1;
                    }
                }
                .image {
                    overflow: hidden;
                    @include bRad(10px 10px 0 0);
                    img {
                        pointer-events: none;
                    }
                }
                .text {
                    position: relative;
                    padding: 35px 15px;
                    @include flexbox(center, space-between, column, "", "15px");
                    h4 {
                        font: {
                            size: 16px;
                            weight: normal;
                        }
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                    h6 {
                        font: {
                            size: 18px;
                            weight: bold;
                        }
                        color: $main-color;
                    }
                    .social-media {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        @include transY(-50%);
                        @include flexbox(center, center, column, "", "20px");
                        * {
                            font-size: 16px;
                        }
                    }
                }
                &:hover {
                    .image {
                        img {
                            -webkit-filter: brightness(90%);
                            filter: brightness(90%);
                        }
                    }
                    .text {
                        .social-media {
                            a {
                                &:first-child {
                                    svg {
                                        path {
                                            color: #1da1f2;
                                        }
                                    }
                                }
                                &:nth-child(2) {
                                    svg {
                                        path {
                                            color: #bd2c00;
                                        }
                                    }
                                }
                                &:last-child {
                                    svg {
                                        path {
                                            color: #0077b5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
