section.about#about
    .container 
        .content-text.wow.animate__animated.animate__backInLeft
            h1
                | Our Company
                br
                | Statistics
            p
                | In this space market-facing, yet UI work flows , or bake it in.
                | Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day.
                | Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.
            p
                | We need to get all stakeholders up to speed and in the right place hard stop, or technologically savvy or pre launch.
                | Pro-sumer software commitment to the cause offline this discussion and wiggle room blue sky.
                | Beef up teams were able to drive adoption and awareness. Screw the pooch killing it.
        .boxes-holder
            +about-box("748", "Apartments")
            +about-box("2854", "Clients")
            +about-box("316", "Employees")
            +about-box("429", "Awards")