.spikes
section.apartments#apartments
    .container
        h1.wow.animate__animated.animate__backInLeft
            | More Than 500+
            br
            | Appartments For Rent
        .boxes-holder
        .more-details
            form
                i.fa-solid.fa-search
                input(class="wow animate__animated animate__lightSpeedInLeft" type="search" name="search-appartment" placeholder="Search Location")
                button(class="wow animate__animated animate__lightSpeedInLeft" type="button") Search 
            a(class="wow animate__animated animate__lightSpeedInRight" href="#") View All Apartments