section.landing#landing
    .container
        .title.wow.animate__animated.animate__backInLeft
            h1 Find Your New Modern Apartment 
            form
                i.fa-solid.fa-magnifying-glass
                input(type="search" name="search" placeholder="Search Locations")
                input(type="submit" value="Search")
        .info.wow.animate__animated.animate__backInRight
            a(class="phone" href="tel:(000)123-4567") (000) 123-4567
            a(class="address" href="#") #{mainLocation}
        a(href="#about" class="wow animate__animated animate__backInUp")
            | Scroll Down
            i.fa-solid.fa-arrow-down 