section.recent-apartments#recentApartments
    .container
        .recent-apartment.wow.animate__animated.animate__fadeInLeft
            .image
                img(src="images/apartment-11.webp" alt="Apartment 11")
                span
                    i.fa-solid.fa-location-dot
                    | #{mainLocation}
            .text
                h4 Super Awesome Add
                p
                    | In this space market-facing, yet UI work flows, or bake it in. 
                    | Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. 
                    | Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.
        .recent-apartment.wow.animate__animated.animate__fadeInRight
            .image
                img(src="images/apartment-15.webp" alt="Apartment 15")
                span 
                    i.fa-solid.fa-location-dot
                    | #{mainLocation}
            .text
                h4 Super Awesome Add
                p
                    | In this space market-facing, yet UI work flows, or bake it in. 
                    | Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. 
                    | Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.
        .recent-apartment.wow.animate__animated.animate__fadeInLeft
            .image
                img(src="images/apartment-13.webp" alt="Apartment 13")
                span
                    i.fa-solid.fa-location-dot
                    | #{mainLocation}
            .text
                h4 Super Awesome Add
                p
                    | In this space market-facing, yet UI work flows, or bake it in. 
                    | Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. 
                    | Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.
        .recent-apartment.wow.animate__animated.animate__fadeInRight
            .image
                img(src="images/apartment-14.webp" alt="Apartment 14")
                span
                    i.fa-solid.fa-location-dot
                    | #{mainLocation}
            .text
                h4 Super Awesome Add
                p
                    | In this space market-facing, yet UI work flows, or bake it in. 
                    | Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. 
                    | Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.
                a(href="#") Show Me More 