section.services#services
    .container
        +heading-title("Services","In this space market-facing, yet UI work flows, or bake it in. Red flag we need a first agile at the end of the day.")
        .content
            img(class="wow animate__animated animate__backInLeft" src="images/apartment-10.webp" alt="Apartment")
            .text.wow.animate__animated.animate__backInRight
                +services-box("fa-solid fa-truck-ramp-box", "Renting", "In this space market-facing, yet UI work flows, or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.")
                +services-box("fa-solid fa-money-check-dollar", "Selling", "In this space market-facing, yet UI work flows, or bake it in. Cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.")
                +services-box("fa-solid fa-trowel-bricks", "Building", "In this space market-facing, yet UI work flows, or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day. Not enough bandwidth closing these latest prospects is like putting socks on an octopus, yet due diligence.")