section.works#works
    .container
        +heading-title("How it works ?", "In this space market-facing, yet UI work flows, or bake it in. Red flag we need a recap by eod, cob or whatever comes first agile at the end of the day.")
        .box-holder
            .box.wow.animate__animated.animate__flipInX
                h3 Find Your Location
                p In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day.
                a(href="#") Find Location
            .box.wow.animate__animated.animate__flipInX
                h3 Find Your Location
                p In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day.
                a(href="#") Find Location
            .box.wow.animate__animated.animate__flipInX
                h3 Find Your Location
                p In this space market-facing, yet UI work flows , or bake it in. Red flag we neef the day.
                a(href="#") Find Location